body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: red;
  }
  
  .betalning-container {
    text-align: center;
    padding-top: 100px;
    color: black;
  }
  
  h1 {
    font-size: 50px;
  }
  
  .ruta {
    background-color: white;
    width: 300px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    font-size: 24px;
    font-family: monospace;
    letter-spacing: 5px;
  }
  
  .ruta button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  